body {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.gift-card {
    max-width: 1128px;
    margin: 0 auto;
}

.header {
    margin-top: 170px;
    font-family: "Google Sans", sans-serif;
    font-size: 37px;
    font-weight: bold;
    line-height: 1.08;
    text-align: center;
    color: var(--black);
}

.details-header {
    font-family: "Google Sans", sans-serif;
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
    color: #393939;
    margin-top: 6px;
    margin-bottom: 1rem;
}

.form {
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 726px;
    padding: 0 0 67px 0;
}

.img-logo {
    margin-top: 52px;
}

.euro {
    margin: 6px auto;
    font-family: "Google Sans", sans-serif;
    font-size: 80px;
    color: #ffffff;
}

.completing-form {
    max-width: 350px;
    margin: 0 auto;
}

.select-amount {
    width: 100%;
    margin: 13px 0 0;
    padding: 13px;
    background-color: #ffffff;
    font-family: "Google Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #393939;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.inputs {
    display: flex;
}

.input-name1 {
    max-width: 165px;
    margin: 13px 10px 13px 0;
    padding: 13px;
    background-color: #ffffff;
    font-family: "Google Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #393939;
    flex: 2;
    border: none;
    outline: none;
    overflow: hidden;
}

.input-name1::placeholder, .input-name2::placeholder, .input-mail::placeholder {
    color: #393939;
    opacity: 1;
}

.input-name2 {
    max-width: 175px;
    margin: 13px 0px 13px 0px;
    padding: 13px;
    background-color: #ffffff;
    font-family: "Google Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #393939;
    flex: 2;
    border: none;
    outline: none;
    overflow: hidden;
}

.input-mail {
    width: 100%;
    margin: 0px 0 15px 0;
    padding: 13px 0 13px 13px;
    background-color: #ffffff;
    font-family: "Google Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #393939;
    border: none;
    outline: none;
    overflow: hidden;
}

.area-message {
    width: 100%;
    height: 88px;
    margin: 0 0 15px 0;
    padding: 13px;
    background-color: #ffffff;
    font-family: "Google Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #393939;
    border: none;
    outline: none;
    overflow: hidden;
}

.button-buy {
    width: 100%;
    height: 51px;
    padding: 13px;
    background-color: #e52730;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
}

.button-buy:hover {
    background-color: #b5121a;
    cursor: pointer;
}

.instruction-section {
    font-family: "Google Sans", sans-serif;
    font-size: 15px;
    line-height: 1.33;
    color: #393939;
    max-width: 726px;
    margin: 0 auto;
}

.instruction-par {
    max-width: 520px;
    text-align: center;
    margin: 43px auto;
    font-weight: bold;
}

.instruction-titel {
    max-width: 259px;
    text-align: center;
    margin: 27px auto 15px auto;
    font-weight: bold;
    font-size: 37px;
    line-height: 1.08;
    color: black;
}

.instruction-items {
    max-width: 767px;
    display: flex;
    margin: 0 -16px;
    text-align: center;
}

.instruction-item1 {
    max-width: 162px;
    margin: 0 50px 0 0;
    flex: 1;
}

.instruction-item2 {
    max-width: 293px;
    margin: 0 39px 0 0;
    flex: 1;
}

.instruction-item3 {
    max-width: 223px;
    flex: 1;
}

.instruction-subitems {
    width: 100%;
    margin: 53px auto 0;
    padding: 0;
    list-style: none;
}

@media(max-width: 992px) {
    .instruction-items {
        flex-direction: column;
        margin: 0;
    }
    .instruction-item1, .instruction-item2, .instruction-item3 {
        max-width: 100%;
        margin: 0 0 25px;
    }
}

.instruction-subitem {
    margin: auto auto 20px auto;
}